.main-content {
	height: 90vh;
}

.images {
	background-color: gainsboro;
	height: 60vh;
}

* {
	font-family: 'Quicksand', cursive;
}

.search-del-button {
	margin-left: 20px;
}

.btn-group {
	margin-left: 20px;
	margin-bottom: 3px;
}