.main-content {
	height: 90vh;
}

.images {
	background-color: gainsboro;
	height: 60vh;
}

* {
	font-family: 'Quicksand', cursive;
}

.search-button {

}

.search-del-button {
	height: 30px;
	margin-right: 10px;
	margin-left: 2px;
}